body,
html {
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.main-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 50%;
}
button {
  display: flex;
  height: max-content;
  width: 8%;
  align-items: center;
  justify-content: center;
}
.button-container {
  gap: 1rem;
  display: flex;
}
.outer {
  background-color: rgb(227, 227, 227);
  border-radius: 0.5rem;
  height: 5rem;
  position: relative;
}
.inner {
  position: absolute;
  border-radius: 0.5rem;
  transition: width 0.7s ease-in-out;
}
.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
h1 {
  display: flex;
}
span {
  position: absolute;
  text-align: center;
  color: white;
}
.bar-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
}
