.drawer-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

.drawer-container {
  box-shadow: 0 4px 6px rgba(147, 216, 49, 0.1);
  z-index: 50;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}

.drawer-open {
  transform: translateX(0%);
}

.drawer-heading {
  color: black;
}

.drawer-content {
  padding: 0px 20px;
  font-size: small;
}
